# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
venv/
.venv/
env/
ENV/

# Secrets & Environment configs
.env
.env.*
!.env.example
*.pem
*.key
serviceAccountKey.json

# Test & Coverage
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
